<footer class="w-full text-center border-t border-gray-400 p-4 pin-b text-md text-gray-600 bg-yellow-100">
    <p>
      <span>&copy; 2020 <a href="https://deepsource.io?ref=gfi" class="underline hover:text-green-600" title="Visit DeepSource website">DeepSource</a></span>
      <span class="mx-1">&middot;</span>
      <span><a href="https://github.com/deepsourcelabs/good-first-issue" class="underline hover:text-green-600" title="View source code on GitHub">Source Code</a></span>
    </p>
</footer>
