<header class="w-full p-4">
    
    <nav class="flex items-center justify-between flex-wrap">
        <a href="{{ .Site.Home.Permalink }}" class="flex items-center text-gray-700 font-bold">
            {{ .Site.Title }}
        </a>
        <div class="block sm:hidden">
            <button id="nav-open" class="flex items-center text-gray-500 hover:text-blue-500">
                <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu</title>
                    <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
                </svg>
            </button>
            <button id="nav-close" class="hidden flex items-center text-gray-700 hover:text-blue-500">
                <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <title>Menu Close</title>
                    <polygon points="11 9 22 9 22 11 11 11 11 22 9 22 9 11 -2 11 -2 9 9 9 9 -2 11 -2"
                        transform="rotate(45 10 10)" />
                </svg>
            </button>
        </div>
        <ul id="nav-menu" class="w-full flex-grow sm:flex items-center sm:w-auto hidden sm:block justify-end list-reset mt-2 sm:mt-0">
            {{ with .Site.GetPage "/about" }}
            <li>
                <a href="{{ .Permalink }}" class="inline-block text-gray-500 sm:px-2 hover:text-blue-400">{{ .Title }}</a>
            </li>
            {{ end }}

            {{ range .Site.Sections }}
            <li>
                <a href="{{ .Permalink }}" class="inline-block text-gray-500 sm:px-2 hover:text-blue-400">{{ .Title }}</a>
            </li>
            {{ end }}
        </ul>
    </nav>
</header>