<head prefix="og: http://ogp.me/ns#">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Site.Title }}</title>
  <meta property="og:title" content="{{ .Site.Title }}">
  <meta name="twitter:title" content="{{ .Site.Title }}">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:site_name" content="Good First Issue">
  <meta property="og:url" content="{{ .Permalink }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@DeepSourceHQ">
  <meta name="twitter:creator" content="@DeepSourceHQ">
  <meta property="og:image:url" content="/images/meta.jpg">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <meta property="og:image:type" content="image/jpeg">
  <meta property="twitter:image:src" content="/images/meta.png">
  <meta property="twitter:image:width" content="1200">
  <meta property="twitter:image:height" content="630">
  <meta name="description" content="{{ .Site.Params.Description }}">
  <meta property="og:description" content="{{ .Site.Params.Description }}">
  <meta name="twitter:description" content="{{ .Site.Params.Description }}">
  <meta name="keywords" content="{{ .Site.Params.Keywords }}">
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="icons/apple-touch-icon.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="icons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="icons/favicon-16x16.png"
  />
  <link rel="manifest" href="icons/site.webmanifest" />
  <link rel="mask-icon" href="icons/safari-pinned-tab.svg" color="#25cdab" />
  <link rel="shortcut icon" href="icons/favicon.ico" />
  <meta name="msapplication-TileColor" content="#25cdab" />
  <meta name="msapplication-config" content="icons/browserconfig.xml" />
  <meta name="theme-color" content="#25cdab" />
  {{ if .Site.IsServer }} {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" />
  {{ else }} {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | minify | fingerprint }}
  <link
    rel="stylesheet"
    href="{{ $style.Permalink }}"
    integrity="{{ $style.Data.Integrity }}"
  />
  {{ end }}
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700,700i|Vollkorn:600,600i&display=swap" rel="stylesheet">
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="image_src" type="image/jpeg" href="/images/meta.png">
  
  <!-- Plausible -->
  <script async defer data-domain="goodfirstissue.dev" src="https://plausible.io/js/plausible.js"></script>
</head>
