<div
  class="select-none border border-gray-400 bg-white w-full rounded mb-4 cursor-pointer hover:shadow-md"
  id="repo-{{ .id }}"
  onclick="toggleIssues('repo-{{ .id }}')"
>
  <div class="px-5 py-3">
    <a
      href="{{ .url }}"
      target="_blank"
      class="text-xl font-semibold hover:text-green-600"
      >{{ .owner }} / {{ .name }}</a
    >
    <div class="flex-row flex text-sm py-1 font-mono">
      <div class="mr-4">
        <span class="text-green-600">lang: </span>{{ .language|lower }}
      </div>
      <div class="mr-4">
        <span class="text-blue-600">stars: </span>{{ .stars }}
      </div>
      <div class="mr-4">
        <span class="text-red-600">last activity: </span><span>{{ dateFormat "Jan 2, 2006" .last_modified }}</span>
      </div>
    </div>
  </div>
  <ol class="px-5 py-3 text-base leading-relaxed hidden border-t border-gray-400 bg-gray-100">
    {{ range .issues }}
    <li>
      <a href="{{ .url }}" target="_blank" class="hover:text-green-500"
        ><span>#{{ .number }}</span> {{ .title }}</a
      >
    </li>
    {{ end }}
  </ol>
</div>
