<div
  class="select-none border border-gray-400 bg-white w-full rounded mb-4 cursor-pointer hover:shadow-md"
  id="repo-{{ .id }}"
>
  <div class="px-5 py-3" onclick="toggleIssues('repo-{{ .id }}')">
    <div class="flex flex-row">
      <a
      title="Open {{ .owner }}/{{ .name }} on GitHub"
      href="{{ .url }}"
      target="_blank"
      class="text-xl font-semibold hover:text-green-600"
      >{{ .owner }} / {{ .name }}</a>
      <span class="flex-1"></span>
      {{ $count := len .issues }}
      <span class="hidden md:inline text-sm border px-3 py-1 ml-2 rounded-full border-green-500 text-green-500 font-semibold">{{ $count }} issue{{if gt $count 1}}s{{end}}</span>
    </div>
    <div class="flex-row flex text-sm py-1 font-mono">
      <div class="mr-4">
        <span class="text-green-600">lang: </span>{{ .language|lower }}
      </div>
      <div class="mr-4">
        <span class="text-blue-600">stars: </span>{{ .stars_display }}
      </div>
      <div class="mr-4">
        <span class="text-red-600">last activity: </span><span>{{ dateFormat "Jan 2, 2006" .last_modified }}</span>
      </div>
    </div>
  </div>
  <ol class="px-5 py-3 text-base leading-loose hidden border-t border-gray-400 bg-gray-100">
    {{ range .issues }}
    <li class="flex flex-row items-start justify-start py-1">
      <span class="text-gray-600 text-right px-2 leading-snug" style="min-width: 70px;">#{{ .number }}</span>
      <a title="Open issue on GitHub" href="{{ .url }}" target="_blank" class="leading-snug font-semibold hover:text-green-500">{{ .title }}</a>
    </li>
    {{ end }}
  </ol>
</div>
